[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
numpy = "*"
pandas = "*"
pandas-datareader = "*"
plotly = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
tensorflow = "*"
keras = "*"
jupyter = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
